*{
    font-family: 'Abril Fatface', cursive;
}

header{
    height: 100px;
    background-color: lightgreen;
    filter: drop-shadow(0 0 0.75rem rgb(71, 139, 7));
}

.grid-section{
    background-color: rgb(93, 58, 50);
    height: calc(100vh - 100px);
}

#grid{
    height: 700px;
    width: 700px;
    border: 1px solid white;
}

.cell{
    border: 1px dotted white;
    height: 10px;
}

.invisible{
    display: none;
}

.visible {
    display: block;
}